*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: auto;
    height: 123px;
    border-bottom: 3px black solid;
    background-color:#556B2F;
    display: flex;
    min-width: 1143px;
}
/*body{
    background-image: url(/picture/background.jpg);
}*/
#headerLogo{
    position: absolute;
    left:60px;
    top:20px;
}
#headerNav{
    margin:auto 60px 14px auto;
}
#headerNav ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 32px;
    color: white;
}
#headerNav li{
    margin-right: 8px;
}
#oglGlavnoe{
    margin-top:30px;
    margin-left: 15%;
    font-size: 52px;
    font-family: "Times New Roman", Times, serif;
}
.bodyGlavnoe{
    width: 992px;
    height:2800px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px dotted black;*/
    box-sizing: border-box;
}
#fotoMe{
    float: right;
}
#Glav{
    text-align: center;
    font-size: 37px;
    margin-top: 20px;
}
.textGlavnoe{
    font-size:26px;
    margin-top: 10px;
}
