*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: auto;
    height: 123px;
    border-bottom: 3px black solid;
    background-color:#556B2F;
    display: flex;
    min-width: 1143px;
}
/*body{
    background-image: url(/picture/background.jpg);
}*/
#headerLogo{
    position: absolute;
    left:60px;
    top:20px;
}
#headerNav{
    margin:auto 60px 2px auto;
}
#headerNav>nav>ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 32px;
    color: white;
}
#headerNav>nav>li{
    margin-right: 8px;
}
#oglGlavnoe{
    margin-top:30px;
    margin-left: 15%;
    font-size: 52px;
    font-family: "Times New Roman", Times, serif;
}
.bodyGlavnoe{
    width: 992px;
    height:2800px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px dotted black;*/
    box-sizing: border-box;
}
#fotoMe{
    float: right;
}
#Glav{
    text-align: center;
    font-size: 37px;
    margin-top: 20px;
}
.textGlavnoe{
    font-size:26px;
    margin-top: 10px;
}
#mainCanvas{
    width:400px;
    height:400px;
    border:solid 4px #556B2F;
    position:fixed;
    left:10px;
    top:128px;
}
.navV{
    list-style-type: none;
    position:absolute;
}
.navV li{
    margin-top: 8px;
    opacity:0.5;
    font-size:26px;
    font-weight: bold;
}
#city0>a:active{
    color: red;
}
.textBack{
    /*width: 300px;
    height: 500px;*/
  background-image: url("./logo/logo_up.png"); 
    background-repeat: no-repeat;
    font-size: 30px;
   /* background-position: right;*/
    background-attachment:fixed;
    margin-left:20px;
    border-left-style:dotted;
    border-radius:5px;
    outline: solid red 5px;
}
.textGlavnoe{
    opacity: 1;
    text-indent:15%;
}
.textGlavnoe>a{
 color: red;
    text-decoration: none;
}
#glan{
    text-transform: uppercase;
}
#biglan{
    text-transform: capitalize;
}
#dateK{
    text-decoration: underline blue dotted;
   /*text-decoration: overline red;*/
    text-decoration-thickness: 6px;
    text-underline-offset: 10px;
    text-underline-position: under;
}
.yury{
    text-decoration: underline solid;
    text-underline-position: under;
   /* text-indent:50px;*/
    font-style:oblique;
}
